@import "tailwindcss";
@theme {
  --text-h2: 26px;
  --text-h3: 16px;
  --text-p: 16px;
  --text-price: 17px;

  --spacing-card-w: 270px;
  --spacing-card-h: 360px;
  --spacing-img-h: 180px;
  --spacing-img-detail-w: 450px;
  --spacing-img-detail-h: 320px;

  --radius-card: 12px;

  --shadow-card: 0 0 10px #fff;
  --shadow-card-hover: 0 0 15px #fff;
}
* {
  box-sizing: border-box;
}
body {
  color: #FFFFFF;
  background: #0F0F0F;
  font-family: 'Poppins', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  max-width: 1270px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px 20px 70px 20px;
}
.form {
  width: 280px;
  display: flex;
  flex-direction: column;
  margin-bottom: 35px;
}
.input {
  color: #FFF;
  background: #0F0F0F;
  font-size: 16px;
  box-shadow: 0 0 7px 2px #FFF;
  border: 1px solid #FFF;
  border-radius: 8px;
  padding: 10px;
  outline: none;
}
.no-results {
  color: #FFF;
  max-width: 320px;
  font-size: 16px;
  text-align: center;
  border: 1px dashed #fff4;
  border-radius: 4px;
  animation: fadeIn 0.2s ease-in forwards;
  padding: 12px;
  opacity: 1;
}
.reflect-below {
  -webkit-box-reflect: below 2px linear-gradient(transparent, #0005);
}
.link {
  color: #FFF;
  font-size: 15px;
  border-radius: 8px;
  text-decoration: none;
  transition: all 0.2s linear;
  box-shadow: 0 0 5px #FFF;
  border: 1.5px solid #FFF;
  padding: 2px 20px;
}

/* ---------- RESPONSIVE DESIGN ---------- */
@media screen and (max-width: 1150px) {
  .container {
    margin: 40px 40px;
  }
}
@media screen and (max-width: 660px) {
  .container {
    margin: 30px 10px;
  }
}